cloud-ai-starter-projects/template-1-aws-journal/services/workflows/statemachine/process_entry_ai.asl.json
{
  "Comment": "ProcessEntryAIWorkflow",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            { "Variable": "$.userId", "IsPresent": true },
            { "Variable": "$.entryId", "IsPresent": true },
            { "Variable": "$.requestId", "IsPresent": true }
          ],
          "Next": "InvokeAIGateway"
        }
      ],
      "Default": "MarkFailed"
    },
    "InvokeAIGateway": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ai_gateway_lambda_arn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "PersistDerivedFields"
    },
    "PersistDerivedFields": {
      "Type": "Pass",
      "Comment": "AI Gateway persists summary/tags and aiStatus updates in DynamoDB",
      "Next": "MarkComplete"
    },
    "MarkComplete": {
      "Type": "Succeed"
    },
    "MarkFailed": {
      "Type": "Fail",
      "Error": "EntryAIProcessingFailed",
      "Cause": "Validation failed or AI processing failed"
    }
  }
}
